* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
}

:root {
  --primary-color: #FFFFFF;
  --secondary-color: #FFEB3B;
  --primary-background-color: #121212;
}

body {
  background-color: var(--primary-background-color);
}

header {
  position: relative;
}

header, main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

main {
  height: 600px;
}

.change-theme {
  position: absolute;
  top: 20px;
  left: -20px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--primary-color);  
  border: 1px solid;
  cursor: pointer;
}

.change-theme-img {
  height: 35px;
  width: 35px;
  background: url("../img/change-theme--white.png") 100% 100% no-repeat no-repeat;
  background-size: cover;
}

.change-theme-img--white {
  background: url("../img/change-theme--black.png") 100% 100% no-repeat no-repeat;
  background-size: cover;
}



header {
  margin-top: 30px;

  display: flex;
  justify-content: space-evenly;
}

header .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  background: url('../img/photo.png') 100% 100% no-repeat;
  background-size: cover;
  background-position-y: top;
  transition: transform .3s ease-in-out;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--primary-color);
}

.info h1 {
  color: var(--secondary-color);
}



header a {
  text-decoration: none;
}

p.goal {
  margin-top: 40px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
  line-height: 40px;
  color: var(--primary-color);
}

.content.skills p {
  line-height: 38px;
}

.js-projects {
  margin-top: 75px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: var(--secondary-color);
}

@media only screen and (max-width: 480px) {

  .control {
    display: none;
  }

  .items-container {
    height: 690px;
  }

  .description {
    margin: 0;
  }

  .mobile_desc {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .info-help {
    top: 480px;
  }


  header {
    margin-top: 75%;
    height: 250px;
  }

  header, main {
    width: 90%;
  }

  h1 {
    font-size: 28px;
  }

  .photo {
    position: absolute;
    top: 0;
  }

  .carousel {
    top: 1430px;
  }

  .content {
    height: 250px;    
  }

  .items-container {
    height: 1000px;
  }

  .project-info {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 26px;
  }  
}





/* Slider */


.wrap {
  margin: 0 auto;
  width: 800px;
  overflow: hidden;
}

.slider {
  margin-top: 0px;
}

.slider__title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__title p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 23px;
  line-height: 30px;
  color: var(--primary-color);
}

.slider__main {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.slider__container {
  display: flex;
}

.slider__item {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}




.slider__item img {
  width: 800px;
  height: 420px;
}

.prev, .next {
  height: 420px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: -100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-button, .next-button {
  height: 75px;
  width: 75px;
}

.prev-button {
  background: url("../img/left_arrow.png") 100% 100% no-repeat no-repeat;
  background-size: cover;
}

.prev-button--black {
  background: url("../img/left_arrow--black.png") 100% 100% no-repeat no-repeat;
  background-size: cover;
}

.next-button {
  background: url("../img/right_arrow.png") 100% 100% no-repeat no-repeat;
  background-size: cover;
}

.next-button--black {
  background: url("../img/right_arrow--black.png") 100% 100% no-repeat no-repeat;
  background-size: cover;
}

.next {
  left: 800px;
}

.slider__dots {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-right: 10px;
  cursor: pointer;
  opacity: .2;
  transition: opacity .3s ease-in-out;
}

.dot_active {
  background-color: var(--primary-color);
  opacity: 1;
}